footer {
  background-color: var(--bg_body);
  padding: 8px 32px;
}

.footer-div {
  background-color: var(--bg_body);
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-div p {
  background-color: var(--bg_body);
}

.heart-icon {
  background-color: var(--bg_body);
  color: var(--heart-color);
}
