/* html{
  font-size: 10px;
} */

main {
  background-color: var(--bg_body);
  padding: 16px 32px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.courses {
  background-color: var(--bg_body);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.25rem;
}

.topic {
  box-sizing: border-box;
  text-align: left;
  border-radius: 16px;
  cursor: pointer;
  background-color: var(--bg_default);
  overflow: hidden;
  box-shadow: 0 14px 28px var(--lines-color) (0, 0, 0, 0.08),
    0 10px 10px var(--lines-color) (0, 0, 0, 0.05);
}

.topic-img {
  width: 100%;
  height: 176px; /* Set the height for the image container */
  overflow: hidden; /* Ensure no overflow from the container */
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.information-for-topic {
  padding: 16px;
}
.topic-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire container */
  display: block;
  margin: 0; /* Ensure no margin around the image */
  padding: 0; /* Ensure no padding around the image */
}

.select-label-container{
  width: 100%;
}

.select {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 1px solid var(--lines-color);
  align-items: flex-start;
  width: 100%;
  min-width: 160px;
  padding: 8px;
}

#sort,
#filter {
  width: 100%;
  color: var(--body-text);
  font-size: 0.8rem;
}

select {
  border: none;
  background: none;
}

.search-box {
  padding: 8px;
}

.search {
  border: none;
  background: none;
  outline: none;
}

.search-sort-filter-box {
  border: 1px solid var(--lines-color);
  border-radius: 8px;
  background-color: var(--bg_default);
}

.search-sort-filter-box .search-box input {
  font-size: 0.85rem;
}

ul {
  list-style: none;
  display: flex;
  padding-top: 0;
  justify-content: flex-start;
  align-items: center;
}

li {
  padding-top: 32px;
}

.star-filled,
.star-outline {
  color: var(--star-color);
}

.label {
  font-size: 0.6rem;
  padding-left: 4px;
}

.nav-h3 {
  color: var(--brand-primary);
}

.nums-topic-found-h2 {
  color: var(--body-text);
  background-color: var(--bg_body);
}

.auther-p {
  color: gray;
}

h4 {
  color: var(--brand-secondary);
}
